POSTGRES_DB="EsportHubDb"
POSTGRES_PASSWORD="your_db_password"
EsportHubDb_DockerConnectionString="Host=db;Port=542;Database=${POSTGRES_DB};Username=postgres;Password=${POSTGRES_PASSWORD};Trust Server Certificate=True;"
HTTPS_CERT_PASSWORD="your_cert_password"
MediatR_LicenseKey="your_mediatR_license_key"
Twitch_ClientId="your_twitch_client_id"
Twitch_ClientSecret="your_twitch_client_secret"
Twitch_BroadcasterId="your_broadcaster_id"
Twitch_RedirectUri="https://your_host:your_port/api/auth/twitch/callback"
