**/bin/
**/obj/
**/publish/
**/Logs/
**/appsettings.Development.json
**/docs/
**/README.md
**/LICENSE
**/.env.example
tests/
coveragereport/
coverlet.runsettings

Dockerfile
Dockerfile.dev
.dockerignore

**/.vscode/

**/.DS_Store
